<div class="d-flex align-items-center justify-content-center h-100">
	<div class="mo-wb-w-450px d-flex align-items-center justify-content-between">
		<div class="item w-45 d-flex flex-column align-items-center mo-wb-font-size-25px justify-content-center mo-wb-h-150px mo-wb-border-radius-5px mo-wb-bg-w mo-wb-bg-hover-pri-l1 mo-wb-cursor-pointer mo-wb-hover-w mo-wb-shadow">
			<i class="mo-icn-cancelling-note"></i>
			<p class="mo-wb-font-size-20px mo-wb-font-weight-600" (click)="handleOnClickItem('NOTE')">NOTE</p>
		</div>
		<div class="item w-45 d-flex flex-column align-items-center mo-wb-font-size-25px justify-content-center mo-wb-h-150px mo-wb-border-radius-5px mo-wb-bg-w mo-wb-bg-hover-pri-l1 mo-wb-cursor-pointer mo-wb-hover-w mo-wb-shadow">
			<i class="mo-icn-send_message_social"></i>
			<p class="mo-wb-font-size-20px mo-wb-font-weight-600" (click)="handleOnClickItem('CHAT')">CHAT</p>
		</div>
	</div>
</div>