<mo-wb-components-v4-modal
  [width]="width"
  [title]="title"
  [disable]=""
  [label]="'Lưu' | translate"
  [isPending]="loading"
  [zIndex]="zIndex + 10"
  [isHideMenu]="isHideMenu"
  (onOk)="handleOnClickAddFolder($event)"
  (onClose)="handleOnCloseModal()">
  <div class="">
    <mo-wb-components-input
      #input
      [title]="'i18n_name_folder'"
      [showAsterisk]="true"
      [placeholder]="'i18n_enter_folder_name'"
      [classInclude]="'mo-wb-py-10px'"
      [maxLength]="25"
      [actionKey]="'KEY-UP'">
    </mo-wb-components-input>

    <mo-wb-components-input
      #inputMulti
      [title]="'Mô tả'"
      [showAsterisk]="true"
      [placeholder]="'Nhập phần mô tả'"
      [classInclude]="'mo-wb-py-10px'"
      [isMultiple]="true"
      [maxLength]="150"
      [isRequired]="true"
      [actionKey]="'KEY-UP'">
    </mo-wb-components-input>
  </div>
</mo-wb-components-v4-modal>